ExperimentalResults (Training)/**/checkpoints/
ExperimentalResults (FineTuning)/sin/100 Epochs - 20 Patience - 0.0005 LR - 200 Samples/**/finetune_checkpoints/
ExperimentalResults (FineTuning)/sin/500 Epochs - 100 Patience - 0.0001 LR - 100 Samples/**/finetune_checkpoints/